<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RimworldModTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RimworldModTranslator.Properties.Settings>
            <setting name="GamesList" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedGameIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExtractedStringsLanguageFolderName" serializeAs="String">
                <value>Extracted</value>
            </setting>
            <setting name="TargetModName" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetModPackageId" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetModAuthor" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetModVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetModSupportedVersions" serializeAs="String">
                <value />
            </setting>
        </RimworldModTranslator.Properties.Settings>
    </userSettings>
</configuration>